$font-family-sans-serif: Haxrcorp, Verdana, sans-serif;
$font-size-base: 2rem;
$line-height-base: 0.9;
$body-bg-dark: #171717;
$primary: #23f7dd;

$input-border-width: 2px;
$input-border-color: $primary;
$input-bg: transparentize($primary, 0.9);

$card-border-color: $primary;
$card-border-width: 2px;
